@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome User</h1>
    <p> This is Simple BulkyBook Web Application.
        <ul>
            <li>Developer Name: Saagar Timalsena </li>
        </ul>
    </p>

</div>
